<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] @Localizer["NewsPortal"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NewsPortal.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom shadow-sm mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@Localizer["NewsPortal"]</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@Localizer["Home"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="News" asp-action="Index">@Localizer["News"]</a>
                        </li>
                    </ul>

                    <!-- Верхняя панель -->
                    <ul class="navbar-nav ms-auto">
                        @* Кнопка переключения языка *@
                        <li class="nav-item me-2">
                            <form method="post" asp-controller="Culture" asp-action="SetCulture" class="d-inline">
                                <input type="hidden" name="culture" value="@ViewBag.SwitchCulture" />
                                <input type="hidden" name="returnUrl" value="@Context.Request.Path@Context.Request.QueryString" />
                                <button type="submit" class="btn btn-outline-secondary btn-sm">
                                    @ViewBag.CurrentCulture
                                </button>
                            </form>
                        </li>



                        @* Кнопка "Создать новость" для админа *@
                        @if (User.Identity?.IsAuthenticated ?? false)
                        {
                            <li class="nav-item me-2">
                                <a class="btn btn-success btn-sm" asp-controller="News" asp-action="Create">@Localizer["CreateNews"]</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-danger" asp-controller="Account" asp-action="Logout">@Localizer["Logout"]</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Login">@Localizer["Login"]</a>
                            </li>
                        }
                    </ul>

                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2025 - NewsPortal
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
